<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>
    <%- htmlWebpackPlugin.options.metadata.title %>
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <base href="<%- htmlWebpackPlugin.options.metadata.baseUrl %>">
  <link href="font-awesome.min.css" rel="stylesheet" />
  <!-- Material Design fonts -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<body style="background-color: black; color: white; font-weight: 300">
  <!-- Bootstrap Material Design -->
  <div aurelia-app="main">
    <link rel="stylesheet" href="./snackbar.min.css">
    <link rel="stylesheet" href="./bootstrap-material-design.min.css">
    <div class="container-fluid">
      <div class="row" style="padding-top: 10%; text-align: center">
        <div class="col-6 offset-3">
          <img style="margin-bottom: 3.5rem; width: 9rem" src="./00-Gnosis-Logo-Positive-White.svg" />
          <h1 style=" margin-bottom: 2rem;font-weight: 400; color:#007BBC">Welcome to
            <%- htmlWebpackPlugin.options.metadata.title %>
          </h1>
          <div style="margin-bottom:8rem; font-size:1.4rem">Breath deeply while we fetch some JavaScript, connect to
            the blockchain and load the DAOstack ecosystem...</div>
          <i style="color: #007BBC" class="fa fa-circle-o-notch fa-spin fa-4x"></i>
          <!-- <div class="progress" style="height: 1.5rem;">
              <div style="height: 100%" class="teal darken-2 progress-bar progress-bar-striped progress-bar-animated w-100" role="progressbar"></div>
          </div> -->
        </div>
      </div>
    </div>
  </div>

  <% if (htmlWebpackPlugin.options.metadata.server) { %>
  <!-- Webpack Dev Server reload -->
  <script src="/webpack-dev-server.js"></script>
  <% } %>
</body>

</html>
