@import "~static/bootstrap";
@import "~bootstrap-sass/utilities/text";


.tab-pane {
  border-top:none;
  padding-top:2rem;
}

.instructions {
  @extend .text-info;
  font-size: 1.1rem;
  font-style: italic;
}

.org-name {
  font-style: italic;
}

.scheme-tabs .tab-content {
  padding:.5rem;
  padding-top:2rem;
}

.tab-content .md-form,
.tab-content .form-group,
{
  margin-bottom: 2rem;
}

.scheme-tabs {
  border-bottom: none;
  margin-bottom: 0;
}

div.instructions + form {
  margin-top: 1.5rem;
}
