
.snackbar.snack-failure .snackbar-content {
  @extend .bg-danger;
}

.snackbar.snack-info .snackbar-content {
  @extend .bg-info;
}
.snackbar.snack-warning .snackbar-content {
  @extend .bg-warning;
  @extend .text-dark;
}

.snackbar-action-wrapper > button {
  color: $color-ds-yellow;
  padding:.25rem;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-left: .5rem;
  text-transform:uppercase;
}

.snackbar-action-wrapper > a {
  color: $gray-800;
  margin-left: .5rem;  
  text-transform:uppercase;  
}

.snackbar-action-wrapper button:hover {
  background-color: transparent;
  text-decoration: underline;
}
