
.dashboard-header {
  text-align: center;
  background-color: $color-ds-darkblue;
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: $color-ds-white;
  margin-bottom: 3rem;
}

.dashboard-header .dao-name {
  font-size: 3rem;
  padding-left: 1rem;
  margin-bottom: .5rem;
}

.dashboard-header .dao-name img {
  width: 3rem;
  margin-right:1rem;
}

.dashboard-header .hover-icon img {
  width: 2rem;
}

.dashboard-header .hover-icon {
  padding: .5rem; /* helps position the tooltip */
}

.dashboard-schemes li.list-group-item {
  margin-bottom: 1rem;
  padding-top: 0;
}

.dashboard-schemes-container {
  /* avoids overflow in x for the entire page and the appearance of a horix scrollbar */
  margin-left:0;
  margin-right:0;
}

.dashboard-schemes li.list-group-item:not(.selected) {
  /**
   * to expand the "hot" clickable area
   */
  padding-top: 0;
  padding-top: 0;
  padding-bottom: 0;
  background-color: $color-ds-grey-1;
}

.dashboard-schemes li.list-group-item.selected {
  padding-bottom: 1.6rem;
  background-color: $color-ds-grey-1;
}

.dashboard-schemes li.list-group-item .scheme-arrow-up,
.dashboard-schemes li.list-group-item .scheme-arrow-down {
  color: $color-ds-grey-3;
}

.dashboard-schemes li.list-group-item:not(.selected):hover .scheme-arrow-up,
.dashboard-schemes li.list-group-item:not(.selected):hover .scheme-arrow-down {
  color: $color-ds-white;
}

.dashboard-schemes li.list-group-item.selected .scheme-arrow-down {
  display: none;
}

.dashboard-schemes li.list-group-item:not(.selected) .scheme-arrow-up {
  display: none;
}

.dashboard-schemes li.list-group-item .scheme-use-button {
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
 }

.dashboard-schemes li.list-group-item .scheme-name {
  display: inline-block;
  font-weight: 500;
}

.dashboard-schemes li.list-group-item .scheme-icon {
  width: 1.5rem;
  display: inline-block;
  margin-right: .75rem !important;
}

.dashboard-schemes li.list-group-item .scheme-icon img {
  height: 1.5rem;
}

.dashboard-schemes li.list-group-item div.row {
  width:100%;
  cursor: pointer; 
}

.dashboard-schemes li.list-group-item:not(.selected):hover {
  background-color: $color-ds-lightblue;
}
