.dashboard-schemes li.list-group-item {
  margin-bottom: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: .325rem !important;
}

.dashboard-schemes li.list-group-item .scheme-name {
  font-weight: bold;
  margin-bottom:.5rem;
}

.dashboard-schemes li.list-group-item div.row {
  width:100%;
  cursor: pointer; 
}

.dashboard-schemes li.list-group-item:hover {
  background-color: lightgrey;
}

.dashboard-header .dao-name img {
  width: 4rem;
  margin-right:1rem;
}

.dashboard-schemes li.list-group-item.selected {
  background-color: lightgrey;
}
