.dashboard-schemes li.list-group-item {
  margin-bottom: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: .325rem !important;
}

.dashboard-schemes li.list-group-item:not(.selected) {
  /**
   * to expand the "hot" clickable area
   */
  padding-top: 0;
  padding-bottom: 0;
  background-color: $color-ds-grey-2;
}

.dashboard-schemes li.list-group-item.selected {
  /**
   * to expand the "hot" clickable area
   */
  padding-top: 0;
  padding-bottom: 1rem;
  background-color: $color-ds-grey-1;
}

.dashboard-schemes li.list-group-item:not(.selected) .scheme-use-button {
  /**
   * to expand the "hot" clickable area
   */
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.dashboard-schemes li.list-group-item.selected .scheme-use-button {
  /**
   * to expand the "hot" clickable area
   */
  padding-top: 1rem;
}

.dashboard-schemes li.list-group-item .scheme-name {
  font-weight: bold;
}

.dashboard-schemes li.list-group-item div.row {
  width:100%;
  cursor: pointer; 
}

.dashboard-schemes li.list-group-item:not(.selected):hover {
  background-color: $color-ds-lightblue;
}

.dashboard-header {
  font-size: 2rem;
  text-align: center;
  background-color: $color-ds-darkblue;
  padding-top: 6rem;
  padding-bottom: 2rem;
  color: $color-ds-white;
  margin-bottom: 3rem;
}

.dashboard-header .dao-name {
  padding-left: 1rem;
}

.dashboard-header .dao-name img {
  width: 4rem;
  margin-right:1rem;
}
