.schemes .md-form {
  margin-right: 1rem;
  margin-bottom: 0;
}

.schemes {
  margin-bottom: 1rem;
}

.delete-scheme {
  position: relative; 
  top: -1.1rem; 
  left: 39.3rem;
  z-index: 1;
  width: 0;
  height: 0;
}

.add-scheme {
  padding-bottom:.5rem;
}
