.founders .form-group {
  margin-right: 1rem !important;
  margin-bottom: 0;
}

.founders li {
  padding-top: 0;  
  padding-bottom: 0;  
}

.delete-founder {
  position: absolute; 
  top: 1.6rem;
  left: 40rem;
  z-index: 1;
  width: 0;
  height: 0;
}

.add-founder {
  position: absolute; 
  top: -3.1rem; 
  left: 7rem;
  width: 0;
  height: 0;
}
