.founders .md-form {
  margin-right: 1rem;
  margin-bottom: 0;
}

.founders {
  max-width: 40.8rem;
  margin-bottom: 1rem;
}

.founders li {
  padding-top: 2rem;  
}

section {
  margin-bottom: 3rem;
}

section h4 {
  margin-bottom: 1rem;
}

.delete-founder {
  position: relative; 
  top: -1.1rem; 
  left: 39.3rem;
  z-index: 1;
  width: 0;
  height: 0;
}

.add-founder {
  position: relative; 
  top: -3.1rem; 
  left: 6.4rem;
  width: 0;
  height: 0;
}
