.founders .md-form {
  margin-right: 1rem;
  margin-bottom: 0;
}

.founders {
  max-width: 40.8rem;
}


.founders li {
  padding-top: 2rem;  
}

.delete-founder {
  position: relative; 
  top: -4.4rem; 
  left: 36.9rem;
  z-index: 1;
  width: 0;
  height: 0;
}

.add-founder {
  position: relative; 
  top: -3.1rem; 
  left: 6.4rem;
  width: 0;
  height: 0;
}
