@import "~static/bootstrap";
@import "~mdbootstrap-sass/data/colors";

.orgs i.dashboard {
  font-size: 8rem;
  @extend .grey-text;
  @extend .darken-2;
}

.orgs .card-title {
  @extend .blue-text;
  font-weight: 600 !important;
}

.card {
  margin-bottom: 1rem;
}
