/** COMMON **/

@media print {
  .hidden-print, .hidden-print * {
      display: none !important;
  }
  .visible-print, .visible-print * {
    display: inherit !important;
  }
}

.nowrap {
  white-space: nowrap;
}

.nofocus:focus {
  outline: none;
}

.hidden {
  display:none;
}

.hot {
  cursor: pointer;
}

.inline {
  display: inline-block;
}

/** APPLICATION **/

/* body {
  background-color: rgb(238, 238, 238);
} */

.container {
  padding-top: 3rem;
  padding-bottom: 3rem;
}


h1 {
  font-weight: 400;
}

h2 {
  margin-bottom: 3rem; 
}

section {
  margin-bottom: 3rem;
}

section h4 {
  margin-bottom: 1rem;
}

.progress {
  height: 1.25rem;
}

.form-group.address {
  width: 20rem;
}

.form-group.address input.form-control {
  width: inherit;
}

form {
  padding-top: 0 !important;
}

.instructions {
  margin-bottom: 1.5rem;
}

.instructions-body {
  font-size: 1.1rem;
  opacity: .6;
  font-style: italic;
  padding-left: 1rem;
}

.instructions i {
  font-size: 2rem;
}

.arc-schemes-dropdown-button
.voting-machine-dropdown-button
.global-constraints-dropdown-button {
  font-weight: bold;
}


.bg-warning {
  background-color: #ff9100 !important; }

a.bg-warning:focus, a.bg-warning:hover {
  background-color: #ff6d00 !important; }

.text-warning {
  color: #ff6d00 !important; }

a.text-warning:focus, a.text-warning:hover {
  color: #ff6d00 !important; }

/** eliminate the nasty 32 pixel margin that BMD adds **/
.list-group.clean .list-group-item :first-child {
  margin-right: unset; /* override BMD */
}

.list-group.clean .list-group-item .material-icons:last-child {
  padding-left: unset !important;
}

.form-section-header {
  font-weight: bold;
  padding-top: 1.5rem;
}

.fee-input {
  width:7rem;
}

.dropdown {
  display: inline-block;
}

.tooltip {
  z-index: 1000000;
}

/* animate page transitions */
/* section.au-enter-active {
  animation: fadeInRight 1s;
} */

/* div.au-stagger {
  /* 50ms will be applied between each successive enter operation
  animation-delay: 50ms;
} */
