// @import "~static/bootstrap";
// @import "~mdbootstrap-sass/data/colors";
// @import "~bootstrap-sass/utilities/text";
// @import "~bootstrap-sass/buttons";
@import "~BMD/core"; 
@import "~static/base";
@import "./src/organizations/list";
@import "./src/home";
@import "./src/schemeDashboards/schemeDashboard";
@import "./src/organizations/dashboard";
@import "./src/resources/customElements/copyToClipboardButton/copyToClipboardButton";
@import "./src/services/snackbars";

.text-yellow {
  color: $yellow-300 !important;
}

.root.container {
  margin-top: 80px;
  margin-bottom: 50px;
}

nav.footer {
  background-color: $gray-300 !important;
  padding-top: .5rem;
  padding-bottom: .5rem;
}

nav.footer .addresses {
  text-align:right;
  width:100%
}

nav.footer .addresses .userBalance {
  margin-left: 1.0rem;
  display: inline-block;
  white-space: nowrap;
}

nav.footer .addresses .userAddress {
  display: inline-block;
  white-space: nowrap;
}

nav.header {
  background-color: $gray-800 !important;
  z-index: 2000; // not sure why this is needed, but otherwise stuff tends to randomly appear on top of the header
}

nav.header .logo {
  margin-right:1rem;
  height:2rem;
 }

nav.header .company-name {
  margin-right:1rem;
  display: inline-block;
}

.smallEtherScanlLink {
  line-height: 1rem;
  display:inline-block;
  width:4rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.table.plain-table th, .table.plain-table td {
    border-top-width: 0;
}

.collapseButtonIcon {
  text-decoration: none !important;
}

.collapseButtonIcon:not(.collapsed)::after {
  color: $gray-500;
  content: "\0020\25B2";
}

.collapseButtonIcon.collapsed::after {
  color: $gray-500;
  content: "\0020\25BC";
}

label {
  white-space: nowrap;
}

.input-group-text {
  display: inline-block;
  margin-right: .4rem !important;
}

.bmd-help + div.input-group-append > button.btn-submit-proposal {
  padding-top: .6rem;
}

div.buttonAtTop {
  margin-top: -1.75rem;
  margin-left: .5rem;
  margin-bottom: .5rem;
}

div.buttonAtTop > div.bmd-form-group {
  padding-top: 0;
}

div.buttonAtTop .btn,
div.buttonAtTop .btn {
  padding-left: .5rem;
}

td.has-etherscan-link {
  padding-top: .15rem;
  padding-bottom: 0;
}

form .card-title {
  font-size: 1.1rem;
}
