/** COMMON **/

@media print {
  .hidden-print, .hidden-print * {
      display: none !important;
  }
  .visible-print, .visible-print * {
    display: inherit !important;
  }
}

.nowrap {
  white-space: nowrap;
}

.nofocus:focus {
  outline: none;
}

.hidden {
  display:none;
}

.hot {
  cursor: pointer;
}

/** APPLICTION **/

.container {
  padding-top: 3rem;
  padding-bottom: 3rem;
}


h1 {
  font-weight: 400;
}

.progress {
  height: 1.25rem;
}

/* I suspect this is required due to a bug in the bootstrap beta v1 required by mdbootstrap */
.progress-bar {
  height: 1.25rem !important;
  padding-top: .1rem;
}


.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}

/* animate page transitions */
section.au-enter-active {
  animation: fadeInRight 1s;
}

div.au-stagger {
  /* 50ms will be applied between each successive enter operation */
  animation-delay: 50ms;
}
