/** COMMON **/

@media print {
  .hidden-print, .hidden-print * {
      display: none !important;
  }
  .visible-print, .visible-print * {
    display: inherit !important;
  }
}

.nowrap {
  white-space: nowrap;
}

.nofocus:focus {
  outline: none;
}

.hidden {
  display:none;
}

.hot {
  cursor: pointer;
}

/** APPLICTION **/

/* body {
  background-color: rgb(238, 238, 238);
} */

.container {
  padding-top: 3rem;
  padding-bottom: 3rem;
}


h1 {
  font-weight: 400;
}

h2 {
  margin-bottom: 3rem; 
}

section {
  margin-bottom: 3rem;
}

section h4 {
  margin-bottom: 1rem;
}

.progress {
  height: 1.25rem;
}

/* I suspect this is required due to a bug in the bootstrap beta v1 required by mdbootstrap */
.progress-bar {
  height: 1.25rem !important;
  padding-top: .1rem;
}


.btn-circle {
  width: 2rem;
  height: 2rem;
  text-align: center;
  padding: .375rem 0;
  font-size: .75rem;
  line-height: 1.428571429;
  border-radius: 1rem;
}
.btn-circle.btn-lg {
  width: 3rem;
  height: 3rem;
  padding: 0.625rem 1rem;
  font-size: 1.1rem;
  line-height: 1.33;
  border-radius: 1.5rem;
}
.btn-circle.btn-xl {
  width: 4rem;
  height: 4rem;
  padding: 0.625rem 1rem;
  font-size: 1.5rem;
  line-height: 1.33;
  border-radius: 2rem;
}

/* .md-form label{
  font-weight:bold;
} */

.md-form.address {
  width: 20rem;
}

.md-form.address input.form-control {
  width: inherit;
}

div.voting-machine-config,
div.global-constraint-config,
div.scheme-config
{
  padding-top: 2rem;
}

.arc-schemes-dropdown-button
.voting-machine-dropdown-button
.global-constraints-dropdown-button {
  font-weight: bold;
}

.form-section-header {
  font-weight: bold;
  padding-top: 1.5rem;
}

.fee-input {
  width:7rem;
}
/* animate page transitions */
section.au-enter-active {
  animation: fadeInRight 1s;
}

div.au-stagger {
  /* 50ms will be applied between each successive enter operation */
  animation-delay: 50ms;
}
