.home {
  margin-top: -80px;
  margin-bottom: -50px;
}

.home .big-button-image {
  height: 10rem;
}

.home .card {
  padding-top:1.5rem;
}

.home .card-title {
  @extend .text-info;
  // font-weight: 500 !important;
  //font-size: 1.4rem;
  //font-family: sans-serif;
}

.home .card-image {
  margin-bottom: 1.5rem;
}

.home .card {
  margin-bottom: 1rem;
}
