@import "~static/bootstrap";
@import "~mdbootstrap-sass/data/colors";

.home .big-button-image {
  height: 10rem;
}

.home .card {
  padding-top:1.5rem;
}

.home .card-title {
  @extend .blue-text;
  // font-weight: 500 !important;
  font-size: 1.4rem;
  font-family: sans-serif;
}

.home .card-image {
  margin-bottom: 1.5rem;
}
